.coffee-page{
  height: 100%;
}

.coffee-page h2{
  color: $font-color;
  text-align: center;
}

.coffee-page div{
  display: inline-block;
}

.coffee-page div img{
  width: 100%;
  height: auto;
  max-height: 140px;
  max-width: 96px;
}

.coffee-page div p{
  color: $font-color;
  font-family: $default-font;
  font-size: 18px;
}

.coffee-wrapper{
  background-color: rgba(0, 0, 0, 0.81);
  padding: 0 3%;
  margin-top: 5%;
  border: solid medium rgba(65, 1, 1, 0.52);
  text-align: center;
}

.search-bar{
  width: 100%;
  text-align: center;
}

.search-bar form input{
  background-color: rgba(0, 0, 0, 0.81);
  padding: 8px;
  border: none;
  border-radius: 12px;
  color: $font-color;
  font-family: $default-font;
  width: 33%;
}

.search-bar form input:focus {
  outline-width: 0;
}

