footer{
  position: fixed;
  background-color: $header-footer-bg-color;
  height: 8.5%;
  bottom: 0;
  color: $font-color;
  font-family: $default-font;
  display: inline-block;
}

footer p{
  height: 100%;
  font-size: $vw-size-header;
  margin: 0;

}






