header{
  background-color: $header-footer-bg-color;
  height: 8.5%;
}

.align-text-vert-div{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float:left;
}

header a{
  color: $font-color;
  text-decoration: none;
  font-size: $vw-size-header;
  font-family: $default-font;
  padding: 0;
}