.contact-page{
  padding-top: 3%;
  height: 100%;
}

.map-section{
  text-align: center;
}

.map-section iframe{
  width: 100%;
  height: 300px;
}

.map-section p{
  font-family: $default-font;
  color: $font-color;
  font-size: 32px;
}

.contact-form{
  margin-top: 30px;
  color: $font-color;
  background-color: rgba(0, 0, 0, 0.60);
  padding: 30px;
}

.noresize {
  resize: none;
}