.main-content{
  background-color: $maincontent-bg-color;
  height: 83%;
  padding-bottom: 20%;
  display: none;
}


.slider{
  position:relative;
  margin-top: 3%;
  display: inline-block;
}

.slider img {
  width: 100%;
  height: auto;
}

.start-articles article{
  font-family: $default-font;
  color: $font-color;
  background-color: rgba(0, 0, 0, 0.41);
}

.top-buffer {
  margin-top:20px;
}