
.offset-one {margin-left: 8.33333333%;}
.offset-two {margin-left: 16.66666667%;}
.offset-three {margin-left: 25%;}
.offset-four {margin-left: 33.3333%;}
.offset-five {margin-left: 41.66666667%;}
.offset-six {margin-left: 50%;}
.offset-seven {margin-left: 58.33333333%;}
.offset-eight {margin-left: 66.6666%;}
.offset-nine {margin-left: 75%;}
.offset-ten {margin-left: 83.33333333%;}
.offset-eleven {margin-left: 91.66666667%;}
.offset-twelve {margin-left: 100%;}
