$background-url: "../images/background-coffe.jpg";

$default-font: 'Open Sans', sans-serif;
$font-color: whitesmoke;

$vw-size-header: 2.5vw;
$header-footer-bg-color: rgba(0, 0, 0, 0.60);
$maincontent-bg-color:rgba(0, 0, 0, 0.18);
$content-paragraph:  3vw;


// Extra small screen / phone
$screen-xs: 480px;

// Small screen / tablet
$screen-sm: 768px;

// Medium screen / tablet or small desktop
$screen-md: 992px;

// Large screen / wide desktop
$screen-lg: 1200px;

// Extra large screen / extra wide desktop
$screen-xl: 1550px;


