$background-url: "../images/background-coffe.jpg";

$default-font: 'Open Sans', sans-serif;
$font-color: #efefef;

$vw-size-header: 1.5vw;
$header-footer-bg-color: rgba(0, 0, 0, 0.60);
$maincontent-bg-color:rgba(0, 0, 0, 0.18);

